<div class="container"></div>
    <div class="row">
    <ul>
        <div>
            <li><img src={{image_url}} alt=""></li>
            </div>
            <div>
            <li>{{name}}</li>
            <li>{{description}}</li>
            <li>{{tagline}}</li>
        </div>
    </ul>
    </div>
</div>
